#service {
    padding-top: $pt;

    .card {
        background: #f6f6f6;
        transition: 0.5s;
        border-radius: 10px;

        &:hover {
            box-shadow: 5px 5px 15px #ddd;
        }
    }

    i {
        color: #fa983a;
        font-size: 50px;
    }
}